.Rproj.user
.Rhistory
.RData
.Ruserdata
/Microplastics_Raw_data
.gene_info.tsv
/Genome
/Brain_Counts.txt
.Liver_counts.txt
.Gonad_counts.txt
/All_Counts.txt
/All genes text/
/All genes/
/DDS objects/
.RDataTmp*
Volcano plots/
test.qmd
Significant genes/
Results Draft.*
RNA-seq Analysis plots.*
RNA-seq-Analysis-plots.html
Results Draft_files/
Results-Draft_files/
gene_info.tsv
Reads mapped data/
